header {
  display: flex;
  width: 100%;
  margin: auto;
  height: 11vh;
  background: #00b2a9;
  text-align: center;
  position: fixed;
}
.logo-container {
  /* flex: 1; */
  width: 15%;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
nav {
  padding-top: 3vh;
  flex: 5;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.loginsignup_btn {
  margin-top: 2.5vh;
  justify-content: flex-end;
  text-decoration: none;
  cursor: pointer;
  margin-right: 2vh;
}
nav ul {
  margin-top: 0vh;
}

.logo {
  /* margin: 0 0 0 20px; */
  text-decoration: none !important;
}

.nav-links {
  /* display: flex; */
  justify-content: flex-end;
  list-style: none;
  padding-right: 2.5vw;
}
.nav-link {
  color: #eeeeee;
  margin-left: 4vw;
  font-size: 19px;
  text-decoration: none;
}

.logo:hover {
  color: #f6eb61;
}

strong,
h3 {
  color: #eeeeee;
}

.signIn {
  font-size: 16px;
  text-decoration: none;
  table-layout: auto;
  margin-right: 8vh;
  /* margin-top: 2.5vh; */
}
.fa-user {
  font-size: 3.5vh;
  color: white;
}

.user-sub-menu1 {
  display: block;
  position: relative;
  background-color: #00b2a9;
  width: fit-content;
  border-radius: 5px;
  margin-top: 3.5vh;
  box-shadow: 0vh 0vh 4px 0vh #eeeeee;
}
.user-sub-menu {
  display: none;
}
.fa-user:hover {
  font-size: 4vh;
  color: #555;
}

@media screen and (max-width: 786px) {
  header {
    display: inline;
  }
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    padding-top: 4vh;
    align-items: center;
    /* margin-top: 2.5vh; */
    /* top: 50%; */
    transform: translate(-5%, -50%);
  }
  .nav-links {
    position: fixed;
    background-color: #00b2a9;
    height: 60vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
    justify-content: space-around;
    /* clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out; */
  }
  /* .loginsignup_btn {
    width: 40%;
    flex: 2;
    margin-left: 48%;
    position: fixed;
    align-items: flex-end;
  } */
  .signIn {
    font-size: 14px;
    text-decoration: none;
    table-layout: auto;
    margin-right: 3vh;
    /* margin-top: 2.5vh; */
  }
  .btn {
    display: none;
  }
  .logo-container {
    flex: 1;
  }
  .nav-links.open {
    flex-direction: column;
    display: flex;
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
  }
  .landing {
    flex-direction: column;
  }
  nav ul {
    margin-top: 4vh;
    padding-top: 2vh;
  }
}
