.password {
  padding-top: 11vh;
}
.continue_btn {
  width: 90%;
  height: 5vh;
  margin-top: 3vh;
  border-radius: 4px;
  border: none;
  margin-bottom: 4vh;
}
.continue_btn a {
  color: black;
}
.continue_btn a :hover {
  color: white;
}
.header strong {
  padding-top: 3vh;
}
form p {
  padding: 0 5% 0 5%;
  font-size: small;
}

.footer-text {
  width: 30%;
  margin: 2% 35% 0% 35%;
  text-align: center;
}
.footer-text small {
  font-size: 1.8vh;
}
@media screen and (max-width: 786px) {
  .footer-text {
    width: 80%;
    margin: 2% 10% 0% 10%;
    text-align: center;
    font-size: 1.8vh;
  }
  .footer-text small {
    font-size: 1.4vh;
  }
}
